.build-section {
    background-color: #31B19E;
    /* background-color:#FF0000; */
    /* min-height: 100vh; */
    border-top: 2px solid black;
}

.build-container {
 padding-top: 5rem;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.build-card {
    padding: 2rem;
    border-radius: 1rem;
    display: flex;

    margin-top: 2rem;
    margin-bottom: 3rem;
    max-width: 40rem;
    border-style: solid;
    background-color: white;
    border-width: 3px;
    border-color: #0d0d0d #000 #000;
    box-shadow: 15px 15px 0 0 #0d0d0d;

    transition: all 0.3s ease-in-out;
}

.build-card:hover {
    transform: translateY(15px) translateX(15px);
    box-shadow: 0px 0px 0 0 #0d0d0d;
}

.build-card h2 {
    display: flex;
    align-items: center;
}

.build-card ul li{
    margin-right: .5rem;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
}

.build-card ul{
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: nowrap;
    margin-left: 2rem;
}

ul {
    margin: 0;
}

#build-first-heading {
    border-top: 2px solid black;
}

.build-heading {
    border-bottom: 2px solid black;
    height: 5rem;
    display: flex;
}

.build-plus {
    max-height: 2rem;
    max-height: 2rem;
    margin: auto 3rem auto auto;
}

.build-heading-left {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.build-heading-left-date {
    margin-left: 3rem;
    min-width: 15rem;
}

.build-heading-left-title {}

.build-heading-left-type {
    min-width: 15rem;
}

.build-content {
    border-bottom: 2px solid black;
    /* background-color: #ffffb3; */
    background-color: white;

    display: grid;
}

.inner-build-content {
    margin-right: 3rem;
    margin-left: 3rem;
    display: flex;
}

.build-description {
    max-width: 20rem;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

.build-plus {
    min-height: 2.5rem;
    transition: transform 0.4s ease-in-out;
}
  
.rotate {
    transform: rotate(45deg);
}

/* .hidden {
    display: none;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
} */

.build-content {
    height: auto;
    overflow: hidden;
    opacity: 1;
    transform: translateY(0%);
    transition: transform 0.5s ease-in-out;
    transition: height 0.3s ease;
    padding: 1rem;
}
  
.build-content.hidden {
    height: 0;
    opacity: 0;
    display: none;
    transform: translateY(-100%);
}

@media (max-width: 857px) {
    .inner-build-content {
        display: grid;
    }

    .build-heading-left-title {
        display: none;
    }
    
    .build-heading-left-type {
        display: none;
    }

    .about-content-extra {
        display: none!important;
    }

    .build-section {
        min-height: 50vh;
    }
}

ul {
    list-style: none;
}

.star {
    max-height: .8rem;
    transform: translateY(1px);
    margin-right: .8rem;
}