section.experience-section {
    background-color: hsl(43, 100%, 64%);
    min-height: 100vh;
    border-bottom: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

section.experience-section h2 {
    margin: 0;
}

article.experience-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center; 
}

.trapezoid {
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #0d0d0d #000 #000;
    box-shadow: 15px 15px 0 0 #0d0d0d;
    transition: all 0.3s ease-in-out;
    transform: skew(-20deg);
    margin-left: 40px;
    margin-right: 40px;

    max-width: 20rem;
    padding: 2rem;
}

.trapezoid:hover {
    transform: translateY(15px) translateX(15px) skew(-20deg);
    box-shadow: 0px 0px 0 0 #0d0d0d;
}

.trapezoid ul li {
    margin-top: 1rem;
}


@media screen and (max-width: 1021px) {

    
    article.experience-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0rem;
    }


    .trapezoid {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0;
        margin-right: 0;
        transform: skew(0) scale(1);
    }

    
    .trapezoid:hover {
        transform: translateY(15px) translateX(15px) skew(0);
        box-shadow: 0px 0px 0 0 #0d0d0d;
    }
}

@media (max-width: 850px) {
    .experience-content {
        transform: skew(0) scale(.8);
        margin: 0!important;
    }
}
