.navigation-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    /* ^^ Sticky ^^*/
    display: flex;
    align-items: center;
    padding: 0.35rem 0 0.35rem 0;
    border-bottom: 2px solid black;
    background-color: transparent; 
    backdrop-filter: blur(10px); 
  }
  
.special-li {
    list-style: none;
    padding: 0 1rem 0 1rem;
    margin: 1rem 0 1rem 0;
}

.navigation-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: auto;
    font-family: 'Roobert', sans-serif;

    padding-left: 0;
}

.navigation-bar ul li {
    margin-right: 1rem;
    font-weight: bold;
    color: black;

    transition: all 0.3s ease-in-out;
}

.home-bar-icon {
    max-height: 2rem;
    max-width: 2rem;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.home-bar-icon:hover {
    transform: scale(1.1);
}

.navigation-bar ul li:hover {
    cursor: pointer;
}

.about:hover {
    color: #D661FF;
}

.experience:hover {
    color: #FFCB46;
}

.project:hover {
    color: #31B19E;
}

.interest:hover {
    color: #f79f87;
    /* color: #008080; */
}

.gold:hover {
    line-height: 1;
    text-align: center;
    background: linear-gradient(to right, violet, rgb(152, 36, 235), rgb(123, 0, 210), #D661FF, rgb(123, 0, 210), rgb(152, 36, 235), violet);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    background-position: left;
    animation: shine 1.5s linear infinite;
  }
  
@keyframes shine {
    50% {
        background-position: right;
    }
}

.navigation-bar-icons {
    max-height: 2rem;
    max-width: 2rem;
    padding: auto;
    cursor: pointer;

    padding-right: 1rem;
}

.hover-animation {
    transition: all 0.3s ease-in-out;
}
  
.hover-animation:hover {
    transform: translateY(-5px);
}

.icon-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10rem;
}

.hamburger-icon {
    display: none;
}

.icons {
    display: flex;
    margin-left: auto;
}

@media (max-width: 650px) {
    .navigation-list {
      display: none !important;
    }
    .navigation-bar-icons {
      display: none;
    }
    .hamburger-icon {
        display: block;
        transition: transform 0.3s ease-in-out;
      }
      .hamburger-icon:hover {
        transform: rotate(-180deg);
      }
}

.swal2-popup{
    /* width: 50vh !important;
    height: 60vh !important; */
    border-radius: 0 !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: #0d0d0d #000 #000 !important;
}

.swal2-title {
    color: #000 !important;
    font-size: 24px;
    margin-bottom: 20px;
}

.swal2-content {
    font-size: 16px;
    margin-bottom: 20px;
}

.swal2-confirm {
    background-color: black;
    color: whitesmoke;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: .5rem;
    cursor: pointer;
    width: 6rem;
    font-family: 'Roobert', sans-serif;
  }

.swal2-cancel {
    background-color: black;
    color:  whitesmoke;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    margin-left: .5rem;
    cursor: pointer;
    width: 6rem;
    font-family: 'Roobert', sans-serif;
}
